*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
.logo{
    vertical-align: middle;
}
body{
    background-color:#f6f8f9 ;
}
header{
    background-color: white;
    height: 70px;
    padding: 10px;
}
.webapp{
    width: 800px;
    margin: 40px auto;
    background-color: white;
}
.add{
    color: white;
    background-color: #47adf1;
    border: solid #47adf1;
    border-radius: 7px;
    padding: 7px;
}
.add2{
    color: #c8ced3;
    background-color: white;
    border: solid #c8ced3;
    border-radius: 7px;
    padding: 7px;
}